/*pseudo-class for <html> tag*/
:root {
    --dark-blue: #1A1A2E;
    --navy-blue: #16213E;
    --medium-blue: #0F3460;
    --accent-red: #E94560;
    --light-gray: #F9F9F9;
}

/*-----------------------------NAVBAR---------------------------------*/
.nav-highlight{
    position: absolute;
    top: 0;
    left: 9px;
    width: 85px;
    height: 100%;
    background-color: var(--accent-red);
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

nav ul li:nth-child(1):hover ~ .nav-highlight {
    transform: translateX(-5px);
    width: 75px; 
}
nav ul li:nth-child(2):hover ~ .nav-highlight {
    transform: translateX(82px);
    width: 75px;
}
nav ul li:nth-child(3):hover ~ .nav-highlight {
    transform: translateX(167px);
    width: 75px;
}

nav ul li:nth-child(4):hover ~ .nav-highlight {
    transform: translateX(247px);
    width: 80px;
}

nav ul li:nth-child(5):hover ~ .nav-highlight {
    transform: translateX(337px);
    width: 85px;
}

nav ul li:nth-child(6):hover ~ .nav-highlight {
    transform: translateX(437px);
    width: 85px;
}

/* Initial position for the active page */
nav ul li  ~ .nav-highlight {
    transform: translateX(167px);
    width: 75px;
}

/*Box Style*/

.title{font-size: clamp(1rem, 3vw, 2rem);}


/* Keeps .cbox centered while keeping original styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    align-items: center; 
    justify-content: center; 
}

/* Floating window centered in width, positioned above footer */
.cbox {
    background-color: #0F3460;
    width: 50%;
    max-width: 5500px; 
    min-width: 300px; 
    padding: 5%;
    padding-bottom: 7%;
    
    border-radius: 20px; 
    box-shadow: 0 4% 10% rgba(0, 0, 0, 0.2);
    text-align: center;
    
    position: relative; 
    margin-bottom: 6%; 
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}


footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px; 
    left: 0;
}


.returnbox {
    background-color: #E94560;
    width: 180px; 
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    
    margin-top: 20px; 
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}


.returnbox:hover {
    background-color: #E94560;
    transform: translateX(-50%) scale(1.05); 
    transition: 0.3s ease-in-out;
}

#text1{color: #F9F9F9;}

.success{
    font-size: 24px;
    color:green;

}


